<p><hr></p>
<div class="row">
  <div class="col">
    <div class="container-fluid">
       <div class="row">
         <div class="col">
           <h3><%= @project.name %></h3>
         </div>
         <div class="col">
           <%= link_to 'New Task', new_project_task_path(project_id: @project.id), class: "btn btn-sm btn-success", remote: true %>
         </div>
      </div>
    </div>
  </div>
  <div class="col">
    <p><font size="1px"><strong>Hours</strong> = Previous Hours Worked + Hours Worked = <%= calculate_previous_hours(@project).round(2) %> + <%= @project.tasks.sum(:hours_worked).round(2) %> = <strong><%= (calculate_previous_hours(@project) + @project.tasks.sum(:hours_worked)).round(2) %></strong> </font>
    </p>
  </div>
  <div class="col text-right">
    <%= link_to "<i class='fas fa-download'></i> .xls".html_safe, get_pdf_path, class: "btn btn-sm btn-success" %>
    <%= link_to "<i class='fas fa-download'></i> .pdf".html_safe, get_pdf_path, class: "btn btn-sm btn-danger" %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Day</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Description</th>
      <th>Hours Worked</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.day.nil? ? "-" : task.day.strftime('%d/%m/%Y') %></td>
        <td><%= task.start_time.strftime('%T') %></td>
        <td><%= task.closed? ? task.end_time.strftime('%T') : "-" %></td>
        <td><%= task.description %></td>
        <td><%= task.closed? ? task.hours_worked : "-" %></td>
        <td><%= 
                if task.closed? 
                  link_to 'Close', '#', class: 'btn btn-sm btn-success'
                else
                  link_to 'Open', '#', class: 'btn btn-sm btn-danger', remote: true
                end
             %>
        </td>
        <td><%#= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_project_task_path(@project, task), remote: true %></td>
        <td><%= link_to 'Destroy', project_task_path(@project, task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>

<%= render "tasks/dialog" %>