<p><hr></p>
<div class="jumbotron">
  <h1 class="display-4">Hi, world!</h1>
  <p class="lead">This is a basic open source time tracking web app helps you easily track time spent on tasks.</p>
  <hr class="my-4">
  <p>Begin to start a new project.</p>
  <% unless user_signed_in? %>
    <p class="lead">
      <%= button_tag type: 'button', class: 'btn btn-primary', data: { toggle: 'modal', target: '#exampleModal' } do %>
        Add Project
      <% end %>
    </p>
      <small>Or if you don't have an account yet, please <%= link_to "Sign Up", new_user_registration_path %>.</small>
      <%= render 'shared/dialog_unsigned' %>
  <% else %>
    <p class="lead">
      <%= link_to "Add Project", new_project_path, role: "button", class: "btn btn-primary btn-lg", remote: true %>
    </p>
      <%= render 'dialog' %>
  <% end %>
</div>

