<%= form_for PaymentItem.new do |f| %>

<%= f.hidden_field :payment_id, value: @payment.id %>

  <div class="form-row">
    <div class="col">
      <%= f.label :project_id %> <br />
      <%= f.select(:project_id, Project.all.collect {|p| [ p.name, p.id ] }, { prompt: true }, required: true) %>
    </div>
    <div class="col">
      <%= f.label :hours_paid %> <br />
      <%= f.number_field :hours_paid, step: :any, required: true, class: "form-control" %>
    </div>
    <div class="col">
    <p style="padding:1px;">&nbsp;</p>
      <%= f.submit 'Agrega Producto', class: "btn btn-info btn-md"  %>
    </div>
  </div>

<% end %>