<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col">

    <h1>Discounts</h1>
  
    <table class="table">
      <thead>
        <tr>
          <th>Company</th>
          <th>Project</th>
          <th>Unpaied Hours</th>
          <th>Discounted hours</th>
          <th> Value </th>
          <th> Currency </th>
          <th>Reason</th>
          <th colspan="2"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @discounts.each do |discount| %>
          <tr>
            <th><%= discount.project.company.name %></th>
            <td><%= link_to discount.project.name, project_tasks_path(discount.project) %></td>
            <td><%= number_to_currency(calculate_project_amount_hours_unpaid(discount.project), unit: "$ ", separator: ",", delimiter: "")%></td>
            <td><%= discount.discounted_hours %></td>
            <td><%= number_to_currency(calculus_discounted_value(discount), unit: "#{retrieve_currency_symbol(discount.project)} " ) %></td>
            <td><%= discount.project.currency %></td>
            <td><%= discount.reason %></td>
            <td><%= link_to "<i class='fas fa-pen'></i>".html_safe, edit_discount_path(discount), class: "btn btn-info" %></td>
            <td><%= link_to "<i class='fas fa-times'></i>".html_safe, discount, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <br>
    <% unless user_signed_in? %>
    <%= button_tag type: 'button', class: 'btn btn-info', data: { toggle: 'modal', target: '#exampleModal' } do %>
      New Discount
    <% end %>
      <%= render 'shared/dialog_unsigned' %>
    <% else %>
      <%= link_to 'New Discount', new_discount_path, class: "btn btn-info" %>
    <% end %>
    </div>
  </div>
</div>
