<!DOCTYPE html>
<html>
  <head>
    <title>Hourtask</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= render 'layouts/navbar' %>
    <div class="d-flex flex-column min-vh-100">
    <div class="container">
      
      <div class="row">
        <div class="col">
          <%= flash_messages %>
        </div>
      </div>

      <%= yield %>
    </div>
      <footer class="footer mt-auto py-3 bg-light">
      Hourtask &copy; <%= Time.new.year %> an <%= link_to 'Astr0surf3r Open Source project', 'https://github.com/Astr0surf3r/hourtask' %>
      </footer>
    </div>

  </body>
</html>
